<mat-toolbar class="toolbar" color="accent">
    Toolbar
</mat-toolbar>

<section class="content">
    <mat-card class="content-wrapper">
        <section class="filter-area" color="primary">
            <mat-form-field appearance="outline">
                <mat-label>Line Count</mat-label>
                <input matInput id="lineCount" type="number" [(ngModel)]="lineCount">
            </mat-form-field>
        </section>

        <mat-divider></mat-divider>

        <mat-list class="content-list">
            <mat-list-item *ngFor="let line of getLines(lineCount)">{{line}}</mat-list-item>
        </mat-list>
    </mat-card>
</section>

<section class="conference-area">
    Conference Area
</section>

<footer class="footer">
    Footer
</footer>