:host {
  height: 100%;
  display: grid;

  grid-template: 
  "toolbar toolbar toolbar" 64px
  "content content sidebar" auto
  "footer footer footer" 64px/ 1fr 1fr 200px
}

.toolbar {
  grid-area: toolbar;
  background-color: #8f0303;
}

.content {
  grid-area: content;
  background-color: #8d8d8d;

  height: 100%;

  .content-wrapper {
    // margin only for mat-card style
    margin: 8px 8px 0 8px;
    // height should be 100 % when not using an element with outside margin
    height: calc(100% - 16px);
    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    mat-divider {
      position: relative;
    }

    .filter-area {
      min-height: 40px;
      padding: 15px;
    }

    .content-list {
      height: 0;

      min-height: 0;

      // 3. Step
      overflow-y: auto;

      // 2. Step
      flex: 1 1 auto;

    }
  }

}


.sidebar {
  grid-area: sidebar;
  padding: 8px;

  // This flexbox avoids collapsing margins or paddings at the top of this sidebar
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  mat-list {
    // make sidebar list scrollable
    height: 0;
    min-height: 0;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}

.footer {
  grid-area: footer;
  overflow: hidden;
  background-color: #3f03ca;
}